.main-wrap {
  max-width: 720px;
  margin: 0 auto;
}
.photo-list-item {
  display: inline-block;
  position: relative;
  margin: 20px 10px ;
}

.photo-list-item span {
  color: red;
  position: absolute;
  top: -40px;
  font-size: 2em;
  cursor: pointer;
}

button {
  margin: 10px;
}